@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,300;0,400;1,300&display=swap');

/* Font Imports */
	/* CMU Serif */
	@font-face {
		font-family: "SERIF";
		font-style: normal;
		font-weight: normal;
		src: url("../public/fonts/serif_main_regular.woff")
	}
	@font-face {
		font-family: "SERIF";
		font-style: normal;
		font-weight: bold;
		src: url("../public/fonts/serif_main_bold.woff")
	}
	@font-face {
		font-family: "SERIF";
		font-style: italic;
		font-weight: normal;
		src: url("../public/fonts/serif_main_italics.woff")
	}
	@font-face {
		font-family: 'CMU Serif';
		font-style: italic;
		font-weight: normal;
		src: local('CMU Serif Italic'), url('../public/fonts/cmunti.woff') format('woff');
	}
	@font-face {
		font-family: 'CMU Serif';
		font-style: normal;
		font-weight: bold;
		src: local('CMU Serif Bold'), url('../public/fonts/cmunbx.woff') format('woff');
	}
	@font-face {
		font-family: 'CMU Serif';
		font-style: normal;
		font-weight: normal;
		src: local('CMU Serif Roman'), url('../public/fonts/cmunrm.woff') format('woff');
		}
/* Root Variables */
	:root {
	--serif: "Crimson Pro", "Palatino Linotype";
	--sans_serif: avenir, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--mono: Consolas, Monaco, Liberation Mono, "Lucida Console", monospace;
	/* --dark: rgb(190, 206, 209); */
	--lightRed: #ffdada;
	--red: rgb(196, 28, 28);
	--darkRed: rgb(229, 0, 0);
	--lightGreen: #e3ffe3;
	--green: forestgreen;
	--paleGreen: #c5eac5;
	--darkGreen: rgb(0, 129, 0);
	--lightBlue: #91a4ae;
	--blue: teal;
	--linkBlue: rgb(1, 75, 161);
	--teal: rgb(83, 191, 191);
	--paleBlue: #95bbcd;
	--darkBlue: rgb(0, 155, 207);
	--black: rgb(41, 41, 41);
	--white: white;
	--lightGrey: rgb(147, 147, 147);
	--palegy: #cacaca;
	--lavender: rgb(216, 142, 216);
	--purple: purple;
	--gold: gold;
	--paleGold: #fffbe9;
	--darkGold: rgb(125, 77, 0);
	--orange: rgb(255, 186, 68);
	--beigegold: #ffe8c0;
	--powder: #d9e7e5;


	/* Core Colors */
	/* --background-color: rgb(251,255,244); */
	--background-color: white;
	--text-color: black;
	--nav-content-background-color: rgb(255, 255, 255);
	--card: 1px 5px 9px 3px rgba(73, 73, 73, 0.659);

	/* Heading color */
	--heading-color: firebrick;

	/* Border */
	--border: solid thin grey;
	--box-background-color: rgb(233, 244, 242);
	--box-border: solid thin rgb(206, 220, 225);

	/* Call number styles */
	--call-border: solid thin rgb(74, 105, 172);
	--call-text-color: rgb(74, 105, 172);

	/* Box Shadows */
	--box-shadow: 0px 1px 0 #bbbbbb, 1px 1px 2px #868686;
	--drop-shadow: 3px 3px 2px rgba(0, 0, 0, .7);
	--box-shadow-hover: 1px 1px 2px rgb(228, 228, 228);
	--box-shadow-border: 1px solid #ececec;
	--box-shadow-pressed: inset 0.063rem 0.063rem 0.125rem #858585,
		inset -0.063rem -0.063rem 0.125rem white;
	--box-shadow-active: 1px 1px 2px rgb(104, 104, 104);
	--page-box-shadow: 0px 1px 1px #b5b5b5, 1px 1px 4px #c6c6c6;

/* Color Palette */
	/* Bipartite Graph */
		--bipartite-node-fill: #FFE69A;
		--bipartite-node-stroke: #EC994B;
		--bipartite-text-color: var(--text-color);
		--bipartite-edge-color: #e97312;
	}
/* Global HTML */
	html {
		scroll-behavior: smooth;
		background-color: rgb(246, 246, 246);
		font-family: var(--serif);
	}
	main { counter-reset: part stat df;}
	small {
		font-size: 1em;
		font-variant: small-caps;
	}
/* Paragraphs and Block Quotes */
	blockquote {
		margin: 1% auto;
		padding-left: 1em;
	}
	blockquote p:first-child>strong>small:first-child {
		font-weight: normal !important;
		font-size: 0.95em;
	}
	blockquote p:first-child>strong>small:first-child::before,
	blockquote p:first-child>strong>code::before{
		content: '0.'counter(part)'.'counter(df)'.';
		display: inline-block;
		margin-right: 0.7em;
		counter-increment: df;
		font-variant: normal;
		font-size: 0.8em;
	}
	blockquote p:first-child+ol,blockquote p:first-child+ul {
		margin-top: -0.5em;
		margin-left: 0.5em;
	}
	
/* List Styles */
	ol {
		margin: 0;
		padding: 0;
		padding-left: 1.5rem;
	}
	/* p+ol li::marker {font-size: 0.95rem;font-family:'Latin Modern';} */
	p + ol li { list-style:decimal;}
	p+ol li li {list-style:lower-alpha;}
	p+ol li li li {list-style:decimal; }
	p+ol li li li li {list-style:upper-alpha; }
	p+ol li li li li li {list-style:lower-roman; }
	/* ul {padding-left: 0.3em;} */
	p + ul {
		margin-top: -0.3em;
	}
	ul {
		margin: 0;
		padding: 0;
		padding-left: 0.95rem;
	}
	ul ol {
		padding-left: 0.95rem;
	}
	ul li {
		list-style-type: "•  ";
		padding-inline-start: 1ch;
	}
	ul ul li {
		list-style-type: "◽︎  ";
		padding-inline-start: 1ch;
	}
	ul ul ul li {
		list-style-type: "+  ";
		padding-inline-start: 1ch;
	}
	ul ol li {
		list-style-type: decimal;
	}
	ul ol ol li {
		list-style-type: lower-alpha;
	}
	ul ol li li li {
		list-style-type: lower-roman;
	}
	ul li::marker {
		font-size: 0.9em;
	}
/* Inputs */
	input {
		border: solid thin grey;
		border-radius: none;
	}
	
/* Table */
	table {
		margin: 1% auto;
		font-size: 0.95em;
		border-collapse: collapse;
	}
	table td, table th {
		/* border: none; */
		padding: 0 0.5em !important;
		/* width: fit-content; */
		vertical-align: top;
		text-align: left;
		font-weight: normal;
	}
	table td {
		padding-top:1px !important;
		padding-bottom: 1px;
		border-bottom: solid thin lightgray;
	}
	table tr:last-child td {
		border-bottom: 0;
	}
	table tr td:not(:first-child) {
		border-left: solid thin lightgray;
	}
	table th {
		border-bottom: solid thin lightgrey;
		padding-bottom: 0 !important;
		padding-top: 0 !important;
	}
	.numbered.aligned table td {
		text-align: center;
	}
	blockquote table {
		margin: 0 auto;
	}
	blockquote table th {
		padding: 0 0.5em !important;
	}
	blockquote table td {
		padding: 0 0.2em !important;
	}
/* Headings */
	h1 { font-size: 1.5rem;  }
	h2 { font-size: 1.15rem; }
	h3 { font-size: 1.1rem;  }
	h4 { font-size: 1.05rem; }
	h5 { font-size: 1.05rem; }
	h6 { font-size: 1rem;    }
	h2,h3,h4,h5,h6 {
		font-weight: bold;
		margin: 0; 
		padding: 0;
	}
	h2+p,h3+p,h4+p,h5+p,h6+p { margin-top:0; }
	h2+blockquote,h3+blockquote, h4+blockquote,h5+blockquote,h6+blockquote {
		margin-top: -1% !important;
	}
	h1 {
		text-align: center;
		margin: 2rem auto;
		width:fit-content;
	}
	h2 {counter-increment: part;        counter-reset: subpart;}
	h3 {counter-increment: subpart;     counter-reset: chapter;}
	h4 {counter-increment: chapter;     counter-reset: module;}
	h5 {counter-increment: module;      counter-reset: submodule;}
	h6 {counter-increment: submodule;   counter-reset: submodule;}
	h2::after { content: counter(part); float: right; }
	h3::after { content: counter(part) "." counter(subpart); float: right; }
	h4::after { content: counter(part) "." counter(subpart) "." counter(chapter); float: right; }
	h5::after { content: counter(part) "." counter(subpart) "." counter(chapter) "." counter(module); float: right; }
	h6::after { content: counter(part) "." counter(subpart) "." counter(chapter) "." counter(module) "." counter(submodule); float: right; }
/* Hago Array */
		.hago_Array {
			width: fit-content;
			margin: 1px auto;
		}
		table .hago_Array {
			margin: 3%;
		}
/* Lists */
		div.col2 {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin: -2% 0;
		}
		ul li p, ol li p {
			padding: 0 !important;
			margin: 0 !important;
		}
		ul li {
			padding: 0 !important;
			margin: 0 !important;
		}
		ul {
			width: fit-content;
		}
/* KaTeX */
	:not(.illus) span.katex {font-size: 1em;}
	span.mbin {font-family: 'Latin Modern';}
	span.textmd {
		font-family: 'Parisienne';
		font-size: 1em;
		font-weight: 600;
	}
	div.math.math-display {
		overflow-x: auto;
		overflow-y: hidden;
	}
	.Plot span.mord.text {
		font-family: var(--serif);
	}
/* Table of Contents */
	h1 + p + ol {
		margin: 0.8em;
		font-size: 0.95rem;
		columns: 2;
	}
	h1 + p + ol a {
		text-decoration: unset;
	}
/* Hago Table */
	.hagoTable {
		border: none !important;
	}
	.hagoTable td,
	.hagoTable th {
		padding: 0;
		text-align: center;
		vertical-align: middle;
		border: none;
	}
	.hagoTable thead tr:nth-child(1) {
		border-bottom: solid thin var(--text-color);
	}
	.hagoTable td:not(:nth-child(1)) {
		border-left: solid thin var(--text-color);
	}
/* Tables */
	.hashtbl table {
		font-size: 0.85em;
		table-layout: fixed;
	}
	.hashtbl table td, 
	.hashtbl table th {
		text-align: center;
	}
	div.two-way-table table {
		margin: 5% auto;
	}
	div.two-way-table table th {
		height: 5px;
	}
	div.two-way-table table th:not(:first-child) {
		border-left: solid thin var(--text-color);
	}
	div.two-way-table table td {
		padding: 0 0.5em;
	}
	
/* Definitions */
	dfn strong {
		font-variant: small-caps;
		font-size: 1.1em !important;
		/* text-decoration: underline; */
		font-weight: normal !important;
	} 
	dfn .obj strong {
		font-variant: normal;
		font-weight: bold !important;
		font-size: 0.98em !important;
	}
	dfn {
		display: block;
		/* font-weight: bold; */
		margin: 0 1em;
		font-style: normal;
		/* border-left: solid 3px rgb(222, 222, 222); */
		/* padding-left: 0.8em; */
		/* width: 95%; */
	}
	dfn p:last-child::after {
		font-family: 'Latin Modern';
		display: inline;
	}
	dfn.align {
		margin: 0 auto;
	}
/* Links */
	a { color: var(--text-color); }
	a:hover { color: var(--purple); }
	.outline a {text-decoration: none;}
/* Figcaption */
	figcaption {
		display: block;
		text-align: center;
		font-size: 0.8em;
		font-style: italic;
		margin: 4px auto;
		padding: 0;
	}
	
/* Frame */
	table.frame {
		border: solid thin grey;
		border-collapse: collapse;
		font-size: 0.9em;
	}
	table.frame th {
		font-weight: normal;
		border-collapse: collapse;
	}
	table.frame td, table.frame th {
		border-collapse: collapse;
		padding: 2px;
		margin: 0 !important;
		border: solid thin grey;
		text-align: center;
	}
	table.frame small {
		font-size: 1.1em;
	}
	table.tr {
		padding: 0;
		margin: 0 !important;
		border: solid thin grey;
		border-collapse: collapse;
	}
	table.frame table {
		margin: 0 !important;
		padding: 0 !important;
		width: 100%;
		border: solid thin grey;
		border-collapse: collapse;
	}
/* Structs */
	div.obj ul, div.obj ol, div.obj ul li, div.obj ol li {
		padding: 0;
		margin: 0;
		list-style: none;
	}
	div.obj ol li {
		margin: 1px 0;
		padding: 0;
		display: block;
	}
	div.obj {
		border-top: solid thin lightgrey;
		border-bottom: solid thin lightgrey;
		padding: 0 0 0.5em 0;
		width: 90%;
		margin: 2% auto;
	}
	div.obj>ul>li>ol {
		border-left: solid thin lightgray;
	}
	div.obj ol li::before {
		content: " ";
		counter-increment: objlineNumber;
		font-family: "CMU Serif";
		position: relative;
		display: inline-block;
		/* min-width: 15px; */
	}
	div.obj ol li::before {padding-right: 1em;}
	div.obj ol li li::before { padding-right: 2em; }
	div.obj ol li li li::before { padding-right: 3em; }
	div.obj ol li li li li::before { padding-right: 4em; }
	div.obj ol li li li li li::before { padding-right: 5em; }
	/* Grid Map */
		.grid-container {
			height:fit-content;
		}
		.grid_map_container {
			height: min-content;
		}
		.grid-container ol li li { list-style-type: lower-alpha; }
		.grid-container ol li li li { list-style-type: lower-roman; }
		.grid-container ol li li li li { list-style-type: decimal; }
/* Algorithms */
	div.algo {
		counter-reset: lineNumber -1;
		border-top: solid thin lightgray;
		border-bottom: solid thin lightgray;
		padding: 0 0 1em 0;
		margin: 1em 1.5em;
		font-size: 0.9em;
	}
	div.algo blockquote {
		margin: 0;
		padding: 0;
		font-size: 1.1em;
		border-bottom: solid thin lightgray;
	}
	/* div.algo small { font-size: 1.1em; } */
	div.algo p {
		font-size: inherit;
		padding: 0;
		margin: 0;
	}
	div.algo ol {
		padding:0;
		margin:0;
		list-style: none;
	}
	div.algo ol li {
		margin: 0;
		padding: 0;
		display: block;
	}
	div.algo ol li::before {
		content: counter(lineNumber);
		counter-increment: lineNumber;
		font-family: "CMU Serif";
		position:relative;
		display: inline-block;
		min-width: 10px;
	}
	div.algo ol ol {border-left: solid thin rgb(226, 226, 226);} 
	div.algo ol { margin-left: 1em; }
	div.algo li em {
		font-family: var(--serif);
		color: rgb(146, 171, 182);
		font-style: italic;
		font-size: inherit;
		display: inline;
		text-align: left;
		width: max-content;
		margin: 0;
		padding: 0;
		float: right;
	}
	div.algo ol li::before {right: 1rem;}
	div.algo ol li li::before { right: 2rem; }
	div.algo ol li li li::before { right: 3rem; }
	div.algo ol li li li li::before { right: 4rem; }
	div.algo ol li li li li li::before { right: 5rem; }
	div.algo ol li li li li li li::before { right: 6rem; }
	div.algo>ol {
		margin-top: 6px;
		/* margin-left: 1em; */
	}
	/* katex override */
	span.textup {
		font-family: "CMU Serif";
		font-weight: 400;
		font-size: 1.1em;
		font-variant: small-caps;
	}
	div.algo ul {list-style: none;}
	div.algo ul {padding: 0; margin: 0;}
	div.algo ul li {padding: 0; margin: 0;}
	div.algo ul ul {padding: 0 1em; margin: 0; border-left: solid thin lightgrey;}
	/* div.algo p:first-child span.textup {font-weight: 600;} */
	/* div.algo p:first-child {font-variant: small-caps;} */
	div.algo p:first-child {
		padding: 2px 0;
		margin-bottom: 5px;
		/* border-bottom: solid thin lightgrey; */
		font-size: 1em;
	}
	div.algo li>p {
		display: inline !important;
		margin: 0 !important;
		padding: 0 !important;
		line-height: 0 !important;
		border: 0 !important;
	}
	p {
		margin: 0.7em 0;
		padding: 0;
		line-height: 1.25;
		text-align: justify;
	}
	.katex-display + p {
		margin: 0 !important;
	}
	.katex-display {
		padding: 0 !important;
		margin: 1px 0 !important;
	}
/* Boxed Inline Code */
	em code {
		font-style: normal;
		border: solid thin grey;
		padding-left: 2px;
		padding-right: 2px;
		line-height: 0;
	}
	blockquote strong code {
		font-family: var(--serif);
		font-size: inherit;
		font-variant: normal;
		padding: 0;
		border: none;
		font-weight: bold;
	}
/* Pre Tag (Code Block) */
	code {
		font-family: var(--mono);
		font-size: 0.8em;
	}
	pre {
		margin: 3% 5%;
		font-family: var(--mono);
		padding: 1% 0;
		tab-size: 2;
		line-height: 1.2 !important;
		scrollbar-width: none;
		white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
		border-top: solid thin lightgrey;
		border-bottom: solid thin lightgrey;
	}
	.grid-map-container pre {
		border: solid thin lightgrey;
		margin: 0 auto;
		padding: 0.4em 1em;
	}
/* Illus */
	/* General */
		.illus, .hago {
			display: flex;
			justify-content: center;
			overflow: visible;
		}
		.illusFigure {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			flex: 1;
		}
		.illusFigure figcaption {
			display: block;
			margin: 0 auto;
		}
	/* Text Elements */
		.illus text,
		.hago text {
			font-family: "CMU Serif";
			/* font-size: 1em; */
		}
	/* DotPlot */
		.dotPlotBin circle {
			fill: var(--dotPlotCircleFill);
			stroke: var(--dotPlotCircleStroke);
		}
		.dotPlotXAxis line,
		.dotPlotXAxis path {
			stroke: var(--dotPlotAxisColor);
		}
		.dotPlotXAxis text {
			fill: var(--dotPlotAxisColor);
			font-family: var(--serif);
		}
	/* Plot Styles */
		.plotRectangle path { stroke: var(--text-color); }
		.Plot .redCircle circle {
			fill: var(--red);
			stroke: var(--red);
			fill-opacity: 0.3;
		}
		.Plot .plainCircle circle { fill: var(--background-color); }
		.Plot .blueCircle circle {
			fill: var(--blue);
			stroke: var(--blue);
			fill-opacity: 0.1;
		}
		.Plot .purpleCircle circle {
			fill: var(--purple);
			stroke: var(--purple);
			fill-opacity: 0.1;
		}
		.yellowRectangle path {
			fill: var(--gold);
			stroke: var(--orange);
			fill-opacity: 0.1;
		}
		.plot text,
		.plot3d text { font-family: var(--serif); }
		.plot .plot_point circle {
			fill: var(--point-fill-color);
			stroke: var(--point-stroke-color);
		}
		.plot .ex circle { fill: var(--background-color); }
	/* Trees */
		.tree line, .tree circle { stroke: rgb(127, 127, 127); }
		.tree .no-circle circle {stroke: white}
		.tree .nil circle {fill: rgb(139, 139, 139); stroke: rgb(21, 21, 21)}
		.tree .red circle {fill: rgb(252, 215, 210); stroke: rgb(168, 24, 24)}
		.tree .green circle {fill: rgb(219, 243, 220); stroke: rgb(59, 124, 61)}
		.tree .green span.katex {color: green;}
		.tree .red span.katex {color: firebrick;}
		.tree .blue span.katex {color: teal;}
		.tree .blue circle {fill: rgb(220, 245, 248); stroke: rgb(12, 133, 157)}
		.tree line.red {stroke: firebrick}
		.tree line.blue {stroke: rgb(8, 176, 176);}
		.tree line.green {stroke: rgb(115, 172, 105);}
		.tree .out, .tree .out span.katex {opacity: 0.2;}
	/* Graphs */
		.Graph circle {fill: var(--background-color); stroke: var(--lightBlue)}
		.Graph .no-circle {stroke: var(--background-color)}
		.Graph path {stroke: var(--lightBlue);}
		.Graph .graphEdge {stroke: var(--lightBlue);}
		.Graph .katex { color: var(--text-color); font-size: 2em;}
		.Graph .green circle { fill: var(--lightGreen); stroke: var(--green); }
		.redGraph circle { fill: var(--lightRed); stroke: var(--darkRed); }
		.redGraph path { stroke: var(--red); }
		/* .redGraphArrowHead { fill: var(--red); } */
		.Graph .blue circle { fill: var(--lightBlue); stroke: var(--blue); }
		.Graph .red circle { fill: rgb(255, 239, 198); stroke:rgb(201, 1, 1); }
		.Graph .on circle { fill: rgb(222, 245, 164); stroke: var(--text-color); }
		.Graph .off circle { fill: rgb(177, 177, 177); stroke: var(--text-color); }
		.Graph .nil circle { fill: rgb(40, 40, 40); stroke: var(--text-color); }
		.Graph .red line { stroke: rgb(189, 30, 30); stroke-width: 1;}
		.Graph .dash line { stroke-dasharray: 3; }
		.Graph .ptr circle {stroke:var(--background-color)}
	/* Bipartite */
		.BipartiteNodes circle {
			fill: var(--bipartite-node-fill);
			stroke: var(--bipartite-node-stroke);
		}
		.BipartiteEdges path { stroke: var(--bipartite-edge-color); }
		.Bipartite .katex {color: var(--bipartite-text-color);}
		.Bipartite #BipartiteArrowEnd {fill: var(--bipartite-edge-color)}
		.Bipartite #BipartiteArrowStart {fill: var(--bipartite-edge-color)}
		.bipartiteGroup rect { stroke: var(--bipartite-edge-color); }
	/* Grid Table */
		table.grid {
			table-layout: fixed;
		}
		table.grid td {
			border: solid thin var(--text-color) !important;
			text-align: center;
			padding: 0;
			width: 1.4rem;
			height: 1rem;
		}
		table.grid td.red {background-color: var(--lightRed)}
		table.grid td.blue {background-color: var(--powder)}
	/* core */
		.hago text { fill: var(--text-color); }
/* Hago Plot */
		.no-axis .hago_y_axis {display:none;}
		.no-axis .hago_x_axis {display:none;}
		.hago .hago_y_axis path {stroke: var(--text-color)}
		.hago .hago_y_axis line {stroke: var(--text-color)}
		.hago .hago_x_axis path {stroke: var(--text-color)}
		.hago .hago_x_axis line {stroke: var(--text-color)}
		.Plot2 .red circle {fill: gold; stroke:firebrick}
		.Plot2 .blue circle {fill: aquamarine; stroke:blue}
		.hago .riemann_sums line:nth-child(1) {
			stroke:black;
			stroke-opacity: 0.1;
		}
		.hago .riemann_sums line:nth-child(2) {
			stroke:black;
			stroke-opacity: 0.5;
		}
	/* Cartesian Product */
		.hago_CartProd td {
			text-align: center;
		}
		.hago_CartProd tr {
			margin: 0;
			padding: 0;
		}
/* Hago Graph */
	.hago_graph text {font-family: 'CMU Serif';}
	.hago_graph_nodes circle {
		fill: var(--background-color);
		stroke: var(--text-color);
	} 
/* Trace Article */
	table.trace {
		width: 100%;
		margin: 0 !important;
		border-collapse: separate;
		border-spacing: 5px;
		font-size: 1em;
	}
	
/* Trace */
	table.trace td {
		border: 0 !important;
	}
/* Illus Bar Plot */
	.bar-plot-bar rect {
		fill: grey;
	}
/* Hago Lattice */
	.Hago_Lattice circle.red {
		fill: var(--beigegold);
		stroke: var(--darkRed);
	}
	.Hago_Lattice .dst {
		fill: tomato;
	}
	line.dash {
		stroke-dasharray: 2;
	}
	line.redline {
		stroke: tomato;
		stroke-width: 2;
	}

/* float right */
	.float-right {
		float: right;
		clear:left;
	}
	.float-right .illusFigure {
		width: 200px;
	}
/* Media Queries */
	@media (min-width:501px) {
		html {font-size: 15px;}
	}
	@media (max-width: 500px) {
		html {font-size: 9px;}
		div.algo {width:95%}
		div.ltb table {
			width: 100%;
		}
		div.ltb table thead {display: none;}
		div.ltb table td { border:0; }
		div.ltb table tr td:nth-child(2) { padding-left:5px !important; }
		div.ltb table tr {
			display: flex;
			flex-direction: column;
		}
	}