/* Core */
	.master {
		color: var(--text-color);
		font-family: var(--serif);
		background-color: var(--dark);
		padding-bottom: 10em;
	}
	.page {
		background-color: var(--background-color);
		box-shadow: var(--card);
		/* margin:0; */
		margin: 1em auto;
		padding: 2em;
		padding-bottom: 20em;
		overflow-x: hidden;
	}
	.navbar {
		position: -webkit-sticky;
		position: sticky;
		z-index: 10;
		padding: 3px 2px;
		top: 0;
	}
	.page section {
		max-width: 650px;
		margin: 10px auto;
	}
/* links */
	.main>section a { text-decoration: underline; }
/* Superscripts (for footnotes) */
	.page sup {
		font-size: 0.7em;
		vertical-align:top;
	}
/* Bold and Italics Tags */
	.master strong {font-weight: bold;}
	.master blockquote strong {
		font-variant: small-caps;
	}
	.master em {font-style: italic;}
/* quotes */
	.page q {
		display: block;
		text-align: center;
	}
	@media (min-width: 900px) {
		.page {
			margin-left: 25vw;
		}
	}
	@media (max-width: 500px) {
		.page {
			margin: 0;
			padding: 3em;
		}
	}
	@media (max-width: 400px) {
		.page {
			margin: 0;
			padding: 1em;
		}
	}