.label {
  cursor: pointer;
}
.label svg {
  margin-top: 2px;
  width:20px;
  height:20px;
}
.container {
  background-color: wheat;
  padding: 0 5px;
	border: var(--box-shadow-border);
  background-color: var(--background-color);
  box-shadow: var(--box-shadow);
  border-radius: 0.2em;
}
.container:hover {
  box-shadow: var(--box-shadow-hover);
  transition: all 1ms linear;
}
.pressed {
  box-shadow: var(--box-shadow-pressed);
}
.button:active {
  box-shadow: var(--box-shadow-active);
}

/* .container {
  isolation: isolate;
  border: solid thin red;
  position: relative;
  height: 20px;
  width: 40px;
  border-radius: 15px;
	margin: 2px 8px;
  overflow: hidden;
  box-shadow: var(--container-box-shadow);
} */

.checkbox { display: none; }

